.about-section {
    background:$secondaryColor;
    position:relative;
    padding-top:5%;

    &::before {
        position:absolute;
        content:"";
        width:100%;
        height:100%;
        top:0;
        left:0;
        background:$secondaryColor;
        transform-origin:top left;
        transform: skewY(-3deg);
        z-index:-10;
    }

    &::after {
        position:absolute;
        content:"";
        width:100%;
        height:100%;
        top:0;
        left:0;
        background:$secondaryColor;
        transform-origin:bottom left;
        transform:skewY(3deg);
        z-index:-10;
    }

    h2 {
        margin:0;
        text-align:left;
    }

    .about-container {
       display:flex;
        // background-image: linear-gradient(to bottom, rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url(../assets/Moonrise.jpg);
        // border-top:1px solid $primaryColor;
        // border-left:1px solid $primaryColor;
        // background-position:50% 50%;
        padding:5% 0 0 5%;
        border-radius: 5px;

       .image {
           width:25%;
           margin-right:5%;
        //    margin-top:2%;
 
           img {
               width:100%;
                border-radius:50%;
                filter:grayscale(0.7);
           }
       }

       .content {
            width:80%;

            .underline {
                margin:0;
            }
       }
    }

    // SKILLS
    .skills {
        display:flex;
        // border:1px solid red;
        width:100%;
        margin-top:5%;
    }
    .skills-container {
        display:flex;
        flex-wrap: wrap;
        width:30%;
        // margin:;
        // border:1px solid red;

        &:first-child {
            margin-left:31%;
            margin-right:10%;
        }

        h3 {
            flex: 0 0 100%;
            margin:0 0 2% 2%;
            // border:1px solid red;
        }
      
        .skill {
            width:60px;
            height:60px;
            position:relative;
            perspective: 800px;
            text-align:center;
            margin-right:15px;
            
            &:last-child {
                margin-right:0;
            }

            &:hover .front {
                transform: rotateY(180deg);
            }

            &:hover .back {
                transform: rotateY(0deg);
            }
        }

        .front,
        .back {
            position:absolute;
            top:0;
            right:0;
            bottom:0;
            left:0;
            backface-visibility: hidden;
            transition: transform 0.5s;
            padding-top:20%;
            border-radius:50%;
        }

        .front {
            background: linear-gradient(to right, lighten($accentColor2,10), lighten($accentColor,10));
            font-size:4rem;
        }

        .back {
            background:lighten($accentColor,15);
            transform: rotateY(-180deg);
            font-size:1.2rem;
        }
    }
}

@media (max-width:1056px) {
    .about-container {
        .content {
            width:40%;
            // margin-left:20px;
        }
    }
}

@media (max-width:1026px) {
    .about-container {
        flex-direction: row-reverse;
        .image {
            padding-top:5%;
            margin-left:8%;
        }
    }
}

@media (max-width:700px) {
    .about-container {
        flex-direction: column-reverse;
        align-items: center;

        .content {
            width:30%;
        }
    }
}