article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden; }
  html body {
    font-family: "Montserrat", sans-serif;
    color: #333333;
    letter-spacing: 1.8px;
    font-size: 1.6rem;
    margin: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.3))), url(../assets/Moonrise.jpg);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../assets/Moonrise.jpg);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../assets/Moonrise.jpg);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../assets/Moonrise.jpg);
    background-repeat: repeat;
    background-size: 100% 100%;
    max-width: 100%; }
    html body .wrapper {
      max-width: 12800px;
      width: 80%;
      margin: 0 auto; }
    html body h2 {
      font-family: "Playfair Display", serif;
      color: #333333;
      font-size: 3rem;
      text-transform: uppercase;
      margin: 0;
      text-align: center; }
    html body h3 {
      margin: 0 0 2% 31%; }
    html body a {
      text-decoration: none; }
    html body nav a {
      font-family: "Playfair Display", serif;
      color: #333333;
      font-size: 1.6rem;
      text-transform: uppercase;
      margin: 0;
      margin-left: 20px;
      border-bottom: 2px solid #D8BFD8;
      padding: 0 10px; }
    html body .nav-links a, html body .bounce a {
      font-family: "Montserrat", sans-serif;
      color: #333333;
      letter-spacing: 1.8px;
      font-size: 1.4rem;
      margin: 0; }
    html body section a, html body footer a {
      font-family: "Montserrat", sans-serif;
      color: #333333;
      letter-spacing: 1.8px;
      font-size: 1.4rem;
      margin: 0;
      background: -webkit-linear-gradient(45deg, #dae2f8, #d6a4a4);
      background: -o-linear-gradient(45deg, #dae2f8, #d6a4a4);
      background: linear-gradient(45deg, #dae2f8, #d6a4a4);
      background-position: 0 100%;
      background-repeat: repeat-x;
      background-size: 4px 4px;
      -webkit-transition: background-size .3s;
      -o-transition: background-size .3s;
      transition: background-size .3s; }
      html body section a:hover, html body footer a:hover {
        background-size: 4px 50px;
        color: #333333; }
    html body .underline {
      width: 140px;
      height: 8px;
      display: block;
      margin: 0 auto 5% auto;
      background: -webkit-gradient(linear, left top, right top, from(#DAE2F8), to(#D8BFD8));
      background: -webkit-linear-gradient(left, #DAE2F8, #D8BFD8);
      background: -o-linear-gradient(left, #DAE2F8, #D8BFD8);
      background: linear-gradient(to right, #DAE2F8, #D8BFD8); }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px); }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px); }
  100% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px); } }

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px); }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px); }
  100% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px); } }

.bounce {
  -webkit-animation: bounce 1s infinite ease-in-out;
  -o-animation: bounce 1s infinite ease-in-out;
  -ms-animation: bounce 1s infinite ease-in-out;
  -moz-animation: bounce 1s infinite ease-in-out;
  animation: bounce 1s infinite ease-in-out; }

@media (max-width: 1056px) {
  .wrapper {
    width: 90%; } }

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 15px;
  z-index: 10; }
  .sticky nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .sticky nav .nav-links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 2px 0 0 10px;
      margin: 0; }
      .sticky nav .nav-links li {
        list-style: none;
        margin-right: 10px; }

.header {
  min-height: 80vh;
  padding: 5% 0; }
  .header .main-title {
    text-align: center;
    font-family: "Playfair Display", serif;
    color: #333333;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
    padding-top: 5%; }
    .header .main-title svg {
      width: 30%; }
    .header .main-title .iconAnimation path {
      stroke: #4e5860;
      fill: none;
      stroke-width: 0.5;
      stroke-dasharray: 150;
      opacity: 1;
      -webkit-animation: stroke 5s linear;
      animation: stroke 5s linear; }

@-webkit-keyframes stroke {
  0% {
    opacity: 0;
    stroke-dashoffset: 150;
    fill: none; }
  20% {
    opacity: 0.3;
    fill: none; }
  50% {
    opacity: 0.7;
    fill: none; }
  60% {
    opacity: 0.5;
    fill: none; }
  75% {
    opacity: 0.7;
    fill: none; }
  85% {
    opacity: 0.8;
    fill: none; }
  95% {
    opacity: 0.9;
    fill: none; }
  100% {
    fill: none; } }

@keyframes stroke {
  0% {
    opacity: 0;
    stroke-dashoffset: 150;
    fill: none; }
  20% {
    opacity: 0.3;
    fill: none; }
  50% {
    opacity: 0.7;
    fill: none; }
  60% {
    opacity: 0.5;
    fill: none; }
  75% {
    opacity: 0.7;
    fill: none; }
  85% {
    opacity: 0.9;
    fill: none; }
  95% {
    opacity: 1;
    fill: none; }
  100% {
    fill: none; } }
    .header .main-title h1 {
      font-family: "Playfair Display", serif;
      color: #333333;
      font-size: 6rem;
      text-transform: uppercase;
      margin: 0;
      letter-spacing: 10px; }
    .header .main-title h2 {
      font-family: "Montserrat", sans-serif;
      color: #333333;
      letter-spacing: 1.8px;
      font-size: 2rem;
      margin: 0; }
    .header .main-title i {
      margin-top: 15%;
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
      font-size: 2rem; }

/*topToBottom Animation*/
.about-section {
  background: #fcfcfc;
  position: relative;
  padding-top: 5%; }
  .about-section::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fcfcfc;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    transform: skewY(-3deg);
    z-index: -10; }
  .about-section::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fcfcfc;
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: skewY(3deg);
    -ms-transform: skewY(3deg);
    transform: skewY(3deg);
    z-index: -10; }
  .about-section h2 {
    margin: 0;
    text-align: left; }
  .about-section .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5% 0 0 5%;
    border-radius: 5px; }
    .about-section .about-container .image {
      width: 25%;
      margin-right: 5%; }
      .about-section .about-container .image img {
        width: 100%;
        border-radius: 50%;
        -webkit-filter: grayscale(0.7);
        filter: grayscale(0.7); }
    .about-section .about-container .content {
      width: 80%; }
      .about-section .about-container .content .underline {
        margin: 0; }
  .about-section .skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 5%; }
  .about-section .skills-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 30%; }
    .about-section .skills-container:first-child {
      margin-left: 31%;
      margin-right: 10%; }
    .about-section .skills-container h3 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      margin: 0 0 2% 2%; }
    .about-section .skills-container .skill {
      width: 60px;
      height: 60px;
      position: relative;
      -webkit-perspective: 800px;
      perspective: 800px;
      text-align: center;
      margin-right: 15px; }
      .about-section .skills-container .skill:last-child {
        margin-right: 0; }
      .about-section .skills-container .skill:hover .front {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg); }
      .about-section .skills-container .skill:hover .back {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg); }
    .about-section .skills-container .front,
    .about-section .skills-container .back {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transition: -webkit-transform 0.5s;
      transition: -webkit-transform 0.5s;
      -o-transition: transform 0.5s;
      transition: transform 0.5s;
      transition: transform 0.5s, -webkit-transform 0.5s;
      padding-top: 20%;
      border-radius: 50%; }
    .about-section .skills-container .front {
      background: -webkit-gradient(linear, left top, right top, from(white), to(#ebdfeb));
      background: -webkit-linear-gradient(left, white, #ebdfeb);
      background: -o-linear-gradient(left, white, #ebdfeb);
      background: linear-gradient(to right, white, #ebdfeb);
      font-size: 4rem; }
    .about-section .skills-container .back {
      background: #f5eff5;
      -webkit-transform: rotateY(-180deg);
      transform: rotateY(-180deg);
      font-size: 1.2rem; }

@media (max-width: 1056px) {
  .about-container .content {
    width: 40%; } }

@media (max-width: 1026px) {
  .about-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
    .about-container .image {
      padding-top: 5%;
      margin-left: 8%;
      width: 50%; }
    .about-container .content {
      width: 50%; }
  .skills .skills-container:first-child {
    margin-left: 5%;
    margin-right: 5%;
    width: 45%; } }

@media (max-width: 862px) {
  .about-container .image {
    display: none; }
  .about-container .content {
    margin: 0 auto; }
  .skills .skills-container:first-child {
    margin: 0 auto; } }

@media (max-width: 700px) {
  .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .about-container .content {
      width: 30%; } }

.work-section {
  background: #fcfcfc;
  position: relative;
  padding: 7% 0; }
  .work-section::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fcfcfc;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    transform: skewY(-3deg);
    z-index: -10; }
  .work-section::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fcfcfc;
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: skewY(3deg);
    -ms-transform: skewY(3deg);
    transform: skewY(3deg);
    z-index: -10; }
  .work-section .work-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .work-section .work-container .project {
      width: calc(50% - 30px);
      margin: 15px;
      padding: 10px 20px;
      background: #f5eff5; }
      .work-section .work-container .project .project-title {
        text-align: center; }
        .work-section .work-container .project .project-title h3 {
          margin: 0; }
        .work-section .work-container .project .project-title p {
          font-family: "Playfair Display", serif;
          color: #333333;
          font-size: 1.2rem;
          text-transform: uppercase;
          margin: 0;
          margin: 10px 0; }
          .work-section .work-container .project .project-title p span {
            font-weight: bold;
            color: #D8BFD8; }
      .work-section .work-container .project .project-image {
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }
        .work-section .work-container .project .project-image:hover {
          -webkit-filter: grayscale(0);
          filter: grayscale(0); }
        .work-section .work-container .project .project-image img {
          width: 100%;
          border-radius: 5px;
          position: relative; }
    .work-section .work-container .project-links {
      text-align: center;
      padding: 2% 0; }
    .work-section .work-container .extra .project-title p {
      margin-bottom: 5%; }

@media (max-width: 1210px) {
  .harper .project-title p {
    margin-bottom: 6%; } }

@media (max-width: 780px) {
  .work-container .project .overlay a {
    padding: 0;
    margin-top: 15%; } }

@media (max-width: 590px) {
  .work-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .work-container .project {
      width: 100%; } }

.contact-section {
  padding-top: 7%; }
  .contact-section .contact-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .contact-section .contact-content a {
      margin-top: 10px; }
    .contact-section .contact-content .social-links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      list-style: none; }
      .contact-section .contact-content .social-links li {
        margin: 20px 20px 0 20px; }
  .contact-section form {
    width: 50%;
    margin: 5% auto;
    padding-left: 2%; }
    .contact-section form .input-name, .contact-section form .input-email {
      width: 45%;
      border: none;
      background: none;
      border-bottom: 1px solid #333333; }
    .contact-section form .input-email {
      margin-left: 6%; }
    .contact-section form .input-message {
      width: 97%;
      height: 140px;
      margin-top: 5%;
      border: none;
      background: none;
      border-bottom: 1px solid #333333;
      resize: none; }
    .contact-section form .submit {
      padding: 10px;
      background: transparent;
      border: none;
      display: block;
      margin: 5% auto;
      color: #666666; }

footer {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #333333;
  letter-spacing: 1.8px;
  font-size: 1.2rem;
  margin: 0; }
