article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden; }
  html body {
    font-family: "Montserrat", sans-serif;
    color: #333333;
    letter-spacing: 1.8px;
    font-size: 1.6rem;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.3))), url(../assets/Moonrise.jpg);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../assets/Moonrise.jpg);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../assets/Moonrise.jpg);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../assets/Moonrise.jpg);
    background-size: repeat;
    max-width: 100%; }
    html body .wrapper {
      max-width: 1280px;
      width: 80%;
      margin: 0 auto; }
    html body h2 {
      font-family: "Montserrat", sans-serif;
      color: #333333;
      letter-spacing: 1.8px;
      font-size: 3rem;
      text-align: center; }
    html body a {
      font-family: "Montserrat", sans-serif;
      color: #333333;
      letter-spacing: 1.8px;
      font-size: 1.4rem;
      text-decoration: none; }
      html body a:hover {
        font-weight: bold; }
    html body .icon-hover {
      font-family: "Montserrat", sans-serif;
      color: #333333;
      letter-spacing: 1.8px;
      font-size: 1.3rem;
      text-decoration: none;
      background: -webkit-linear-gradient(45deg, #dae2f8, #d6a4a4);
      background: -o-linear-gradient(45deg, #dae2f8, #d6a4a4);
      background: linear-gradient(45deg, #dae2f8, #d6a4a4);
      background-position: 0 100%;
      background-repeat: repeat-x;
      background-size: 4px 4px;
      -webkit-transition: background-size .3s;
      -o-transition: background-size .3s;
      transition: background-size .3s; }
      html body .icon-hover:hover {
        background-size: 4px 50px;
        color: #333333; }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px); }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px); }
  100% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px); } }

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px); }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px); }
  100% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px); } }

.bounce {
  -webkit-animation: bounce 1s infinite ease-in-out;
  -o-animation: bounce 1s infinite ease-in-out;
  -ms-animation: bounce 1s infinite ease-in-out;
  -moz-animation: bounce 1s infinite ease-in-out;
  animation: bounce 1s infinite ease-in-out; }

@media (max-width: 1056px) {
  .wrapper {
    width: 90%; } }

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 11px;
  z-index: 10; }
  .sticky ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
    padding-left: 15px; }
    .sticky ul li {
      list-style: none;
      margin-right: 20px; }

.header {
  min-height: 100vh; }
  .header .main-title {
    text-align: center;
    margin-top: 15%;
    font-family: "Montserrat", sans-serif;
    color: #333333;
    letter-spacing: 1.8px;
    font-size: 3rem; }
    .header .main-title .slidingVertical {
      display: inline; }
    .header .main-title .slidingVertical h2 {
      animation: topToBottom 8.5s linear infinite 0s;
      -ms-animation: topToBottom 8.5s linear infinite 0s;
      -webkit-animation: topToBottom 8.5s linear infinite 0s;
      color: #333333;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      font-family: "Libre Baskerville", serif;
      color: #333333;
      font-size: 4rem;
      margin: 1% 0 0 25%; }
    .header .main-title .slidingVertical h2:nth-child(2) {
      animation-delay: 2.5s;
      -ms-animation-delay: 2.5s;
      -webkit-animation-delay: 2.5s; }
    .header .main-title .slidingVertical h2:nth-child(3) {
      animation-delay: 5s;
      -ms-animation-delay: 5s;
      -webkit-animation-delay: 5s; }
    .header .main-title .slidingVertical h2:nth-child(4) {
      animation-delay: 5.5s;
      -ms-animation-delay: 5.5s;
      -webkit-animation-delay: 5.5s; }
    .header .main-title h1, .header .main-title h2 {
      margin: 0; }
    .header .main-title h1 {
      text-transform: uppercase; }
    .header .main-title span {
      border-bottom: 0.5px solid #333333;
      padding-left: 200px; }
    .header .main-title i {
      margin-top: 25%;
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
      font-size: 2rem; }

/*topToBottom Animation*/
@keyframes topToBottom {
  0% {
    opacity: 0; }
  5% {
    opacity: 0;
    -moz-transform: translateY(-50px); }
  10% {
    opacity: 1;
    -moz-transform: translateY(0px); }
  25% {
    opacity: 1;
    -moz-transform: translateY(0px); }
  30% {
    opacity: 0;
    -moz-transform: translateY(50px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-webkit-keyframes topToBottom {
  0% {
    opacity: 0; }
  5% {
    opacity: 0;
    -webkit-transform: translateY(-50px); }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0px); }
  25% {
    opacity: 1;
    -webkit-transform: translateY(0px); }
  30% {
    opacity: 0;
    -webkit-transform: translateY(50px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-ms-keyframes topToBottom {
  0% {
    opacity: 0; }
  5% {
    opacity: 0;
    -ms-transform: translateY(-50px); }
  10% {
    opacity: 1;
    -ms-transform: translateY(0px); }
  25% {
    opacity: 1;
    -ms-transform: translateY(0px); }
  30% {
    opacity: 0;
    -ms-transform: translateY(50px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@media (max-width: 1026px) {
  .header .main-title {
    margin-top: 50%; }
    .header .main-title span {
      padding-left: 100px; } }

.about-section {
  background: #F5F5F5;
  position: relative;
  padding: 7% 5%; }
  .about-section::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #F5F5F5;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    transform: skewY(-3deg);
    z-index: -10; }
  .about-section::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #F5F5F5;
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: skewY(3deg);
    -ms-transform: skewY(3deg);
    transform: skewY(3deg);
    z-index: -10; }
  .about-section h2 {
    font-family: "Montserrat", sans-serif;
    color: #333333;
    letter-spacing: 1.8px;
    font-size: 3rem;
    margin: 0;
    text-align: left; }
  .about-section .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .about-section .about-container .image {
      width: 25%;
      margin-right: 5%;
      margin-top: 2%; }
      .about-section .about-container .image img {
        width: 100%;
        border-radius: 50%;
        -webkit-filter: grayscale(0.7);
        filter: grayscale(0.7); }
    .about-section .about-container .content {
      width: 60%; }

@media (max-width: 1056px) {
  .about-container .content {
    width: 50%;
    margin-left: 20px; } }

@media (max-width: 1026px) {
  .about-container .content {
    width: 30%; } }

@media (max-width: 700px) {
  .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .about-container .content {
      width: 30%; } }

.skills-section {
  position: relative;
  padding: 10% 0; }
  .skills-section .skills-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    padding: 2% 0; }
    .skills-section .skills-container .skill {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .skills-section .skills-container .skill i {
        font-size: 5rem; }

@media (max-width: 1026px) {
  .skills-container {
    width: 60%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 20px auto 0 auto; }
    .skills-container .skill {
      margin-left: 7%; } }

.work-section {
  background: #F5F5F5;
  position: relative;
  padding: 7% 0; }
  .work-section::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #F5F5F5;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    transform: skewY(-3deg);
    z-index: -10; }
  .work-section::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #F5F5F5;
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: skewY(3deg);
    -ms-transform: skewY(3deg);
    transform: skewY(3deg);
    z-index: -10; }
  .work-section .work-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .work-section .work-container .project {
      width: calc(50% - 30px);
      margin: 15px; }
      .work-section .work-container .project .project-title {
        text-align: center; }
        .work-section .work-container .project .project-title h3 {
          margin: 0; }
        .work-section .work-container .project .project-title p {
          font-family: "Libre Baskerville", serif;
          color: #333333;
          font-size: 1.2rem;
          margin: 0 0 10px 0;
          font-style: italic; }
      .work-section .work-container .project .project-image {
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }
        .work-section .work-container .project .project-image:hover {
          -webkit-filter: grayscale(0);
          filter: grayscale(0); }
        .work-section .work-container .project .project-image img {
          width: 100%;
          border-radius: 5px;
          position: relative; }
    .work-section .work-container .project-links {
      text-align: center;
      padding: 2% 0; }
    .work-section .work-container .extra .project-title p {
      margin-bottom: 5%; }

@media (max-width: 780px) {
  .work-container .project .overlay a {
    padding: 0;
    margin-top: 15%; } }

@media (max-width: 590px) {
  .work-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .work-container .project {
      width: 100%; } }

.contact-section {
  padding-top: 7%; }
  .contact-section .contact-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .contact-section .contact-content a {
      margin-top: 10px; }
    .contact-section .contact-content .social-links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      list-style: none; }
      .contact-section .contact-content .social-links li {
        margin: 20px 20px 0 20px; }
  .contact-section form {
    width: 45%;
    margin: 5% auto; }
    .contact-section form .input-name, .contact-section form .input-email {
      width: 45%;
      border: none;
      background: none;
      border-bottom: 1px solid #333333; }
    .contact-section form .input-email {
      margin-left: 5%; }
    .contact-section form .input-message {
      width: 97%;
      height: 200px;
      margin-top: 5%;
      border: none;
      background: none;
      border-bottom: 1px solid #333333;
      resize: none; }
    .contact-section form .submit {
      padding: 10px;
      background: transparent;
      border: none;
      display: block;
      margin: 5% auto;
      color: #666666; }

footer {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #333333;
  letter-spacing: 1.8px;
  font-size: 1.2rem; }
